# MCOC NEXUS Email & Server Settings
SMTP_EMAIL=mcocnexusteam@gmail.com
SMTP_PASSWORD=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Security
JWT_SECRET=mcoc_nexus_apex_secret_key_2026
ADMIN_PASSCODE=MCOCADMIN2026
